    h1{
        text-align: center;
    }
    
    .memu11{
        text-align: center;
        background-color: indianred;
    }

    .memu1{
        color: pink;
        background-color: brown;
        border-radius: 25%;
    }
    
    .maps{
        color: rgb(250, 216, 165);
        border-radius: 50%;
    }

}
    
    body{
        font-family: 'Roboto Condensed', sans-serif;
    }

    .memu2{
        color: black;
        background-color: white;
        border-radius: 25%;
    }

    .memu3{
        color: white;
        background-color: rgb(139, 60, 60);
        border-radius: 30%;
    }

    .prayer{
        background-color: white;
        border-radius: 10%;
        color: black;
    }

    .memu4{
        color: rgb(187, 196, 177);
        background-color: rgb(122, 66, 66);
        border-radius: 12%;
    }

    .memu5{
        color: rgb(201, 164, 96);
        background-color: darkred;
        border-radius: 15%;
    }

    .memu6{
        color: white;
    }

    .memu7{
        color: black;
        background-color: white;
        border-radius: 50%;
    }

    .float1{
        grid: 50px;
    }